body {
  font-family: 'Gloria Hallelujah', "Courier New";
  text-align: center;
  color: #5c6274;
  background-image: url('images/paper.jpg');
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 6rem;
}

em {
  font-weight: bold;
}

#push_button {
  font-family: "Candara";
  font-size: 5rem;
  text-transform: uppercase;
  margin: 2em auto 3em;
}

a {
  color: #5c6274;
  text-decoration: none;
  border-style: solid;
  border-color: #5c6274;
  padding: 1rem 2rem;
}

a:hover {
  background-color: #D3D3D3;
}

#second_screen {
  display: none;
  margin-bottom: 20rem;
}

@media only screen 
  and (max-device-width: 1100px)
  and (orientation: portrait) {
  #second_screen {
    margin-bottom: 100rem;
  }
}

h2 {
  font-size: 3rem;
  display: inherit;
}

.checkboxes {
  display: inherit;
  color: #5c6274;
  font-size: 3rem;
  text-transform: uppercase;
}

#smiley_label {
  margin-right: 2em;
}

#frowny {
  margin-left: 1em;
}


#smiley_response, #meh_response, #frowny_response {
  display: none;
  font-size: 2rem;
  flex-direction: row;
  justify-content: center;
}

@media only screen 
  and (max-device-width: 1100px)
  and (orientation: portrait) {
  #smiley_response, #meh_response, #frowny_response {
    flex-direction: column;
    justify-content: center;
  }
  .responses {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

p {
  max-width: 45rem;
}

img {
  height: 17rem;
  width: auto;
}

@media only screen 
  and (max-device-width: 1100px)
  and (orientation: portrait) {
  img {
    height: auto;
    width: 55rem;
  }
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#top_row {
  margin-bottom: 1rem;
}

label {
  border-style: solid;
  border-color: #5c6274;
  padding: 0rem 0.5rem;
}

label:hover {
  background-color: #D3D3D3;
}